body {
    background-color: #eee;

    #contact-page{
        form{
            border: 3px solid #aaa;
            padding: 20px;

            @media (max-width: 600px) {
                border: none;
                padding: 0;
            }
        }

        .success-message{
            font-size: 26px;
            font-weight: bold;
            color: #28a745;
        }
    }
}
